/*Global Rules */
:root {
  --main-color: #fdcb35;
  --text-color-light: #a9a8a2;
  --main-transition: 0.3s;
  --main-padding: 15px;
  --main-margin: 25px;
  --hue: 45;
  --title-color: hsl(var(--hue), 4%, 15%);
  --sat: 98%;
  --first-color: hsl(var(--hue), var(--sat), 60%);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* user-select: none; */
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  /* background-color: #eee; */
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* header */
header {
  position: relative;
}
header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .logo {
  color: var(--title-color);
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
}
header ul {
  display: flex;
}
header ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: var(--title-color);
  padding: 0 25px;
  transition: var(--main-transition);
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
}
header ul li a:hover{
  color: var(--first-color);
  background-color: var(--text-color-light);
  border-radius: 10px;
}
header ul li a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
  bottom: 0;
  right: 0;
  transition: var(--main-transition);
}
header .order-now {
  font-size: 20px;
  padding: 15px;
  font-weight: bold;
  color: var(--title-color);
  background-color: var(--first-color);
  border-radius: 10px;
}
header .order-now:hover{
  color: var(--first-color);
  background-color: var(--text-color-light);
  transition: var(--main-transition);
}
header .container a:hover .upDown{
  animation: header .5s ease-in-out infinite;
  display: inline-block;
  color: red;
}
@media (max-width: 991px){
  header ul li a {
    padding:15 10px;
    font-size: 18px;
  }
  header .order-now{
    font-size: 12px;
    padding: 15px;
    order: 1;
  }
}
@media (max-width: 767px) {
  header ul li a {
    padding:0 5px;
    font-size: 14px;
  }
  header .order-now{
    font-size: 9px;
    padding: 8px;
    order: 1;
  }
  header ul {
    order: 2;
  }
}

/* landing */
.landing img {
  width: 600px;
  color: #fdcb35;
  animation: imguptodown 2s ease-in-out infinite ;
  animation-delay: 0.5s;
}
.landing {
  position: relative;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .landing .container {
    flex-direction: column;
  }
  .landing img {
    width: 400px;
  }
}
.landing .text h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: var(--main-padding);
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
    margin-top: var(--main-margin);
    margin-top: var(--main-margin);
  }
}
.landing .text p {
  font-size: 25px;
  line-height: 1.3;
  margin: 5px 0 0;
  color: var(--title-color);
  max-width: 500px;
  margin-bottom: var(--main-margin);
  padding: var(--main-padding);
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .text a {
  padding: var(--main-padding);
  background-color: var(--first-color);
  font-size: 20px;
  font-weight: bold;
  color: var(--title-color);
  border-radius: 45px;
}
.landing .text a:hover {
  color: var(--first-color);
  background-color: var(--text-color-light);
  transition: var(--main-transition);
}
/* About */

.about img {
  width: 600px;
  margin-right: 70px;
}
.about {
  margin-bottom: var(--main-margin);
  margin: var(--main-margin);
}
.about .container {
  display: flex;
  align-items: center;
}
.about .text {
  padding: var(--main-padding);
}
.about .text h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  /* color: var(--first-color); */
  color: var(--title-color);
}
.about .text p {
  /* color: #777; */
  color: var(--title-color);
  font-size: 20px;
  line-height: 1.8;
}
@media (max-width: 991px) {
  .about .text {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .about .container {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .about img {
    width: 400px;
    margin: auto;
  }
  .about {
    margin: auto;
  }
}
/* about 2 */
.about_2 img {
  width: 600px;
  margin-right: 70px;
}
.about_2 {
  margin-bottom: var(--main-margin);
  margin: var(--main-margin);
}
.about_2 .container {
  display: flex;
  align-items: center;
}
.about_2 .text {
  padding: var(--main-padding);
}
.about_2 .text h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: var(--title-color);
}
.about_2 .text p {
  /* color: #777; */
  color: var(--title-color);
  font-size: 20px;
  line-height: 1.8;
}
@media (max-width: 991px) {
  .about_2 .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    order: 2;
  }
  .about_2 img{
    order: 1;
  }
  .about_2 .container {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .about_2 img {
    width: 400px;
    margin: auto;
  }
  .about_2 {
    margin: auto;
  }
}
/*  services*/
.services h1 {
  font-size: 35px;
  color: var(--title-color);
  padding: var(--main-padding);
  text-align: center;
  margin: var(--main-margin);
}
.services .box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-bottom: 50px;
}
.services .box .content {
  padding: var(--main-padding);
  border-radius: 16px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  text-align: center;
}
.services .box .content h1 {
  font-size: 22px;
  color: var(--title-color);
  font-weight: 600;
}
.services .box .content img {
  width: 150px;
  height: 130px;
}

.services .box .content p {
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: var(--main-margin);
}
.services .box .content .info {
  /* margin: auto; */
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services .box .content a {
  font-weight: bold;
  color: var(--title-color);
  background-color: #fdcb35;
  padding: 10px;
  border-radius: 10px;
}
.services .box .content a:hover {
  background-color: var(--text-color-light);
  transition: var(--main-transition);
}
/* Watch time*/
svg {
  width: 10px;
}
.time img {
  width: 600px;
}
.time .container {
  display: flex;
  align-items: center;
}
.time .text {
  padding: var(--main-padding);
}
.time .text h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  /* color: var(--first-color); */
  color: var(--title-color);
}
.time .text p {
  /* color: #777; */
  color: var(--title-color);
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 40px;
}
.time .text .links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.time .text .links a {
  padding: var(--main-padding);
  background-color: var(--first-color);
  font-size: 20px;
  font-weight: bold;
  color: var(--title-color);
  border-radius: 45px;
}
.time .text .links svg {
  margin-left: 10px;
  margin-right: 3px;
  width: 15px;
}
@media (max-width: 991px) {
  .time .container {
    flex-direction: column;
  }
  .time .text .links {
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
  }
  .time .text .links a {
    margin-bottom: var(--main-margin);
    padding: 10px;
  }
  .time img {
    width: 500px;
  }
}
@media (max-width: 767px) {
  .time img {
    width: 400;
  }
}
/*  */
.contact .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact .text {
  max-width: 400px;
}
.contact .text h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: var(--title-color);
}
.contact .text p {
  color: var(--title-color);
  font-size: 20px;
  line-height: 1.8;
}
.contact .info p {
  font-size: 18px;
  color: var(--title-color);
}
.contact span {
  font-weight: bold;
}
.contact a {
  padding: var(--main-padding);
  background-color: var(--first-color);
  font-size: 20px;
  font-weight: bold;
  color: var(--title-color);
  border-radius: 45px;
}
@media (max-width: 991px) {
  .contact .container {
    flex-direction: column;
    text-align: center;
  }
  .contact .text,
  .contact .info,
  .contact .contact-us{
    margin-bottom: var(--main-margin);
  }
}
/* foooter */
footer{
  background-color: #fee59a;
    padding: 70px 0 0;
}
footer .container{
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    color: var(--title-color);
}
footer .box h1{
  font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: var(--title-color);
    color: #444;

}
footer .box p {
  color: var(--title-color);
  font-size: 20px;
  padding: var(--main-padding);
  font-weight: bold;
}

footer .box p{
  border-left: 1px solid #777;
}
footer .box a{
  display: flex;
  justify-content: center;
  align-items: space-between;
  margin-bottom: 50px;
  font-size: 25px;
}
footer .box a svg{
  width: 25px;
}
footer .box a:first-child{
  fill: #00acee ;
}
footer .box a:nth-child(2){
  fill: #fb3958  ;
}
footer .box a:last-child{
  fill: #4267B2 ;
}
@media (max-width: 767px){
  footer .box a{
    display: flex;
    align-items: self-start;
    flex-direction: column;
  }
}
footer > p{
  padding: 25px 0;
  text-align: center;
  font-weight: bold;
  color: var(--title-color);
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/* Animation */
@keyframes imguptodown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  .landing .text h1 .span-animation{
    animation: none;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 1000px) {
  header .container:hover .upDown {
    animation: none;
  }
}
@keyframes header{
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

/* 10 hr for done 💙*/